Kaleta_XSD.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="knihovna">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="kniha">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="isbn" type="xs:string"/>
            <xs:element name="nazev" type="nazev"/>
            <xs:element maxOccurs="unbounded" name="autor" type="autor"/>
            <xs:element name="serie" type="serie" minOccurs="0"/>
            <xs:element name="vydani" type="vydani"/>
            <xs:element name="zanr" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="vydavatel" type="vydavatel"/>
            <xs:element name="vydavatel_puvodni" type="vydavatel" minOccurs="0"/>
            <xs:element name="preklad" type="jmeno" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="obalka" type="jmeno" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="pocet_stran" type="xs:integer"/>
            <xs:element name="hodnoceni" type="hodnoceni"/>
            <xs:element name="popis" type="xs:string" minOccurs="0"/>
            <xs:element name="popis_dlouhy" type="xs:string" minOccurs="0"/>
            <xs:element name="prodejni_cena" type="cena" minOccurs="0"/>
            <xs:element name="pocet" type="xs:integer"/>
          </xs:sequence>
          <xs:attribute name="id_kniha" type="id" use="required"/>
          <xs:attribute name="vazba" type="vazba" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
<xs:simpleType name="id">
  <xs:restriction base="xs:string">
    <xs:pattern value="[A-Z][0-9][0-9][0-9]"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="jmeno">
  <xs:sequence>
    <xs:element name="krestni" type="xs:string"/>
    <xs:element name="prijmeni" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="nazev">
  <xs:sequence>
    <xs:element name="nazev_cz" type="xs:string"/>
    <xs:element name="nazev_orig" type="nazev_orig"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="autor">
  <xs:sequence>
    <xs:element name="krestni" type="xs:string"/>
    <xs:element name="prijmeni" type="xs:string"/>
  </xs:sequence>
  <xs:attribute name="id_autor" type="id" use="required"/>
</xs:complexType>

<xs:complexType name="serie">
  <xs:sequence>
    <xs:element name="nazev_serie" type="xs:string"/>
    <xs:element name="pocet_knih" type="xs:integer"/>
    <xs:element name="poradi_knihy" type="xs:integer"/>
  </xs:sequence>
  <xs:attribute name="id_serie" type="id" use="required"/>
</xs:complexType>

<xs:complexType name="vydani">
  <xs:sequence>
    <xs:element name="vydano" type="xs:string"/>
    <xs:element name="vydani_prvni" type="xs:integer" minOccurs="0"/>
    <xs:element name="vydani_original" type="xs:integer" minOccurs="0"/>
    <xs:element name="vydani_cislo" type="xs:integer"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="vydavatel">
  <xs:sequence>
    <xs:element name="nazev_vydavatel" type="xs:string"/>
    <xs:element name="adresa" type="adresa" minOccurs="0"/>
    <xs:element name="stranky" type="xs:string" minOccurs="0"/>
  </xs:sequence>
  <xs:attribute name="id_vydavatel" type="id" use="required"/>
</xs:complexType>

<xs:complexType name="adresa">
  <xs:sequence>
    <xs:element name="ulice" type="xs:string"/>
    <xs:element name="cp" type="xs:string"/>
    <xs:element name="mesto" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="vazba">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Měkká"/>
    <xs:enumeration value="Pevná"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="cena">
  <xs:attribute name="mena" type="xs:string" use="required"/>
  <xs:attribute name="cena" type="xs:decimal" use="required"/>
</xs:complexType>

<xs:complexType name="hodnoceni">
  <xs:attribute name="pocet_hodnoceni" type="xs:integer"/>
  <xs:attribute name="hodnoceni" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="nazev_orig">
    <xs:attribute name="jazyk" type="xs:string"/>
    <xs:attribute name="nazev" type="xs:string"/>
</xs:complexType>

</xs:schema>
